<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPUF4mqgYFS0yQrk972ZBK4lVJZ3rqYpc</string>
	<key>GCM_SENDER_ID</key>
	<string>720350200720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayaanshahab.courses</string>
	<key>PROJECT_ID</key>
	<string>courses-519eb</string>
	<key>STORAGE_BUCKET</key>
	<string>courses-519eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720350200720:ios:694c54289afa1f55d7e915</string>
</dict>
</plist>